@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500;600&family=Inter:wght@400;500;600&family=Lora:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-h {
    height: calc(100vh - 68px);
}
.bg-hero {
    background-image: url(/assets/wavy-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.glass-morph {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 4px 26px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}